.nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: #e4e4e4;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft img {
  width: 1.75rem;
  height: 1.75rem;
}

.nav a {
  color: #0f2235;
  font-size: 120%;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.links a {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media screen and (max-width: 600px) {
  .links a {
    display: none;
  }
}

.links a:hover {
  background-color: #a9a9a9;
}
