
  .topnav {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    background-color: #e4e4e4;
    overflow: hidden;
    z-index: 1;
    font-family: 'Oxanium';
    position: fixed;
   top: 0;
   width: 100%;

  }
 .logo {
   width:18px;
   height: 18px;
 }

  .topnav a {
    float: right;
    display: block;

    color: #0f2235;
    font-size:120%;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;

  }
  


  .links a:hover {
    background-color: #A9A9A9;
  }
