
  .ProjectCard {  
    width: 33vw;
    display: table;
    margin: 2em;
    color: #0f2235;
    height: 40%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    background: linear-gradient(to left,#e4c0c6,white);

  }
  
.Row {
  display: table-row;
}
  .ProjectCardImg img {
    float: left;
    
    width: 226px;
    height: 290px;
    margin-top: 5px;
    border-radius: 10%;
    padding: 2em;
    object-fit: cover;
  }
  
  
  .ProjectCardImg {
   
    overflow: visible;
    margin: auto;
    padding: 1em;
   
  }
  .ProjectCardInfo {
    padding: 2em;
    text-align: center;
    
  }
  
  
  .ProjectCardBottom::-webkit-scrollbar {width: 3px; height:1px;transition:all .5s;z-index:10;}
  .ProjectCardBottom::-webkit-scrollbar-track {background-color: #0c2b5e;}
  .ProjectCardBottom::-webkit-scrollbar-thumb {
    background-color: #bec4c8; 
    border-radius:3px;
  }
 


 