.UserCard {
  flex: 1;
  position: relative;
  padding-bottom: 1em;
  width: 290px;
  display: table;
  color: black;
  height: 360px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
  background: #0c2b5e;
  background: -webkit-linear-gradient(to left, #0c2b5e, #173c77);
  background: linear-gradient(to left, #cdcdcd, white);
}
.OuterWrap {
  display: flex;
  justify-content: center;
}

.UserCard img {
  width: 200px;
  height: 200px;
  margin: 20px 0 0 0;
  border-radius: 50%;
  border: 3px solid #0f2235;
  object-fit: cover;
}

.UserCardTop {
  height: 67%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.UserCardBottom {
  min-height: 40%;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  padding: 0 10px 5px;
  overflow-wrap: break-word;
}

.UserCardBottom::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  transition: all 0.5s;
  z-index: 10;
}
.UserCardBottom::-webkit-scrollbar-track {
  background-color: #0c2b5e;
}
.UserCardBottom::-webkit-scrollbar-thumb {
  background-color: #bec4c8;
  border-radius: 3px;
}
