@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0;
}
body {
  font-size: 92%;
  font-family: 'Oxanium', sans-serif;
  color: #0f2235;
  background-image: url('./components/Images/1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h2,
h3,
h4,
h5 {
  margin: 0 0 3px;
}
